.ls-user::before {
  background: url(/application/frontend/skin/ifhub/assets/images/usericon_28.png) no-repeat !important;
  background-size: 100% 100% !important;
  width: 18px !important;
  height: 18px !important;
}
.ls-block-header > .ls-block-title > a {
  color: #fff !important;
}
.ls-nav-item--userbar-username img.avatar {
  display: none;
}
